@media screen and (max-width: 2560px) {
    body {
        margin: .5rem 80rem;
    }
}

@media screen and (max-width: 1440px) {
    body {
        margin: .5rem 20rem;
    }
}

@media screen and (max-width: 1024px) {
    body {
        margin: 0;
    }

    html {
        font-size: 67%;
    }
}

@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    html {
        font-size: 50%;
    }

    header img {
        width: 70%;
    }
}

@media screen and (max-width: 425px) {
    body {
        margin: 0;
    }

    html {
        font-size: 27%;
    }

    header img {
        width: 50%;
    }

    .dmca-img img {
        width: 20%;
    }

    header .header-txt {
        font-size: 3rem;
        margin-left: -6rem;
    }

    header .page-txt {
        margin-left: auto;
    }

    .search input {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 24%;
    }

    header .header-txt {
        font-size: 2.5rem;
        margin-left: -7rem;
    }

    header img {
        width: 40%;
    }

    header .page-txt {
        margin-left: auto;
    }
} 

@media screen and (max-width: 320px) {
    html {
        font-size: 20%;
    }

    header .header-txt {
        font-size: 3.2rem;
        margin-left: -18rem;
    }

    header .page-txt {
        margin-left: auto;
    }
}